:root {
    --bg-utama: white;
    --bg-font: blue;
    --bg-material: black;
}

body {
    background-color: var(--bg-material);
}

.form-container {
    background-color: var(--bg-utama);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.form-group label {
    font-weight: bold;
    color: var(--bg-material);
}
.form-control {
    border-radius: 5px;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--bg-utama);
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #007bff;
}

/* delete.php style */
body {
    background-color: var(--bg-material);
}
.container {
    margin-top: 50px;
    background-color: var(--bg-utama);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
}

h1 {
    color: var(--bg-font);
}

.form-group {
    margin-top: 50px;
}

.form-group label {
    font-weight: bold;
}

.btn-danger {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: var(--bg-font);
    color: var(--bg-utama);
}

.btn-danger:hover {
    background-color: var(--bg-material);
}

.alert {
    font-size: 16px;
    border-radius: 5px;
}